In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
train = pd.read_csv('data/train.csv',index_col='NU_INSCRICAO')
train.drop('Unnamed: 0',axis=1,inplace=True)
test = pd.read_csv('data/test.csv',index_col='NU_INSCRICAO')

In [19]:
train.head()

,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,1,1,...,5.0,A,A,A,A,A,A,A,B,D
2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,3,1,...,NaN,A,A,C,A,B,A,A,C,A
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,3,1,...,NaN,A,A,A,A,C,A,A,B,A
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,0,1,...,5.0,C,A,A,A,A,D,A,A,A
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,2,1,...,NaN,A,A,A,A,A,A,A,A,A

In [20]:
test.head()

,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
ba0cc30ba34e7a46764c09dfc38ed83d15828897,43,RS,19,F,1,1,1,3,1,NaN,...,NaN,NaN,E,E,H,B,B,C,D,A
177f281c68fa032aedbd842a745da68490926cd2,15,PA,24,M,3,2,1,4,1,NaN,...,NaN,NaN,B,C,B,A,A,C,D,A
6cf0d8b97597d7625cdedc7bdb6c0f052286c334,29,BA,16,F,2,1,3,0,1,NaN,...,NaN,NaN,E,F,G,B,B,A,NaN,D
5c356d810fa57671402502cd0933e5601a2ebf1e,41,PR,17,F,1,1,2,0,2,1.0,...,40.0,480.0,E,E,E,C,B,B,C,A
df47c07bd881c2db3f38c6048bf77c132ad0ceb3,53,DF,19,F,1,1,1,1,1,NaN,...,80.0,720.0,E,E,E,B,B,B,D,A

In [21]:
train.shape

(13730, 165)

In [22]:
test.shape

(4570, 42)

In [23]:
extra_cols=set(train.columns) - set(test.columns)

In [25]:
train = train[test.columns].join(train['IN_TREINEIRO'])
train.head()

,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,IN_TREINEIRO
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,43,RS,24,M,1,1,1,4,1,NaN,...,520.0,D,D,C,A,A,C,H,A,0
2c3acac4b33ec2b195d77e7c04a2d75727fad723,23,CE,17,F,3,1,2,0,2,1.0,...,580.0,A,A,B,A,A,A,NaN,A,0
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,23,CE,21,F,3,1,3,0,1,NaN,...,NaN,D,D,C,A,A,A,NaN,A,0
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,33,RJ,25,F,0,1,1,9,1,NaN,...,NaN,H,E,E,C,B,C,F,D,0
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,13,AM,28,M,2,1,1,4,1,NaN,...,NaN,E,D,C,A,A,B,F,A,0

In [26]:
train.columns

Index(['CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO',
       'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO', 'TP_PRESENCA_CN',
       'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN',
       'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q006', 'Q024',
       'Q025', 'Q026', 'Q027', 'Q047', 'IN_TREINEIRO'],
      dtype='object')

In [27]:
train.isnull().sum()

CO_UF_RESIDENCIA             0
SG_UF_RESIDENCIA             0
NU_IDADE                     0
TP_SEXO                      0
TP_COR_RACA                  0
TP_NACIONALIDADE             0
TP_ST_CONCLUSAO              0
TP_ANO_CONCLUIU              0
TP_ESCOLA                    0
TP_ENSINO                 9448
TP_DEPENDENCIA_ADM_ESC    9448
IN_BAIXA_VISAO               0
IN_CEGUEIRA                  0
IN_SURDEZ                    0
IN_DISLEXIA                  0
IN_DISCALCULIA               0
IN_SABATISTA                 0
IN_GESTANTE                  0
IN_IDOSO                     0
TP_PRESENCA_CN               0
TP_PRESENCA_CH               0
TP_PRESENCA_LC               0
TP_PRESENCA_MT               0
NU_NOTA_CN                3389
NU_NOTA_CH                3389
NU_NOTA_LC                3597
TP_LINGUA                    0
TP_STATUS_REDACAO         3597
NU_NOTA_COMP1             3597
NU_NOTA_COMP2             3597
NU_NOTA_COMP3             3597
NU_NOTA_COMP4             3597
NU_NOTA_COMP5             3597
NU_NOTA_REDACAO           3597
Q001                         0
Q002                         0
Q006                         0
Q024                         0
Q025                         0
Q026                         0
Q027                      7373
Q047                         0
IN_TREINEIRO                 0
dtype: int64

In [28]:
#Quem n tem status_redacao, não tem competências nem nota
train.loc[train['TP_STATUS_REDACAO'].isnull(),'TP_STATUS_REDACAO':]

,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,IN_TREINEIRO
NU_INSCRICAO,,,,,,,,,,,,,,,,
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,D,C,A,A,A,NaN,A,0
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,E,E,C,B,C,F,D,0
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,D,C,A,A,B,F,A,0
94f7e277f87cd58e10a45da4ad5dd168651cf3ef,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,E,G,B,B,B,H,A,0
8570b9be0b2b629d00743d0de77cd95a84a46fbc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,D,C,B,B,C,F,A,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
bc6ea97fcc031786198e58ca5485d2648a2145fb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,B,B,B,B,A,NaN,A,1
e60cbd0026dae31e4f0580a909465c83355ea282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,C,D,B,B,B,I,A,0
99cfec493fefde4fcec60fd8c1e3eb1fe891fb31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,E,D,B,B,C,B,A,0
00bb288d1b225bf07136b1d6e5a20a0fa7f7e2a9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,C,G,B,B,C,NaN,A,0
a78cd7c85a7ed2a29190ed3e40a8cf8dad2d7335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,B,D,B,B,B,D,A,0

In [29]:
#Dropar por informação redundante: ['SG_UF_RESIDENCIA','TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC']
#Dropar por ter muitos nulos e a maioria dos não nulos são uma informação específica, o que acaba não acrescentando em nada:['TP_ENSINO','TP_DEPENDENCIA_ADM_ESC']
#Dropar por excesso de nulos: '[TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5','NU_NOTA_REDACAO']
train.drop(['SG_UF_RESIDENCIA','TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC','TP_ENSINO',
            'TP_DEPENDENCIA_ADM_ESC','TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
            'NU_NOTA_COMP4', 'NU_NOTA_COMP5','NU_NOTA_REDACAO'],axis=1,inplace=True)
test.drop(['SG_UF_RESIDENCIA','TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC','TP_ENSINO',
            'TP_DEPENDENCIA_ADM_ESC','TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
            'NU_NOTA_COMP4', 'NU_NOTA_COMP5','NU_NOTA_REDACAO'],axis=1,inplace=True)

In [30]:
train.columns

Index(['CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA',
       'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO',
       'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047',
       'IN_TREINEIRO'],
      dtype='object')

In [32]:
#Substituir os nulos de NU_NOTA_CN,NU_NOTA_LC,NU_NOTA_CH e NU_NOTA_MT por 0 pq esses foram os eliminados e faltantes.
train[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']]=train[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']].fillna(value=0)
test[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']]=test[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']].fillna(value=0)

In [33]:
#Substituir os nulos de 'Q027'  por N pq esse são os que nunca exerceram atividade.
train['Q027']=train['Q027'].fillna(value='N')
test['Q027']=test['Q027'].fillna(value='N')

In [34]:
#Transforma em só uma coluna com soma de ( 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA') 
#e ('IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO')
train['ATEND_ESPE1'] = train[['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA']].sum(axis=1)
test['ATEND_ESPE1'] = test[['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA']].sum(axis=1)

train['ATEND_ESPE2'] = train[['IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO']].sum(axis=1)
test['ATEND_ESPE2'] = test[['IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO']].sum(axis=1)


train.drop(['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA','IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO'],axis=1,inplace=True)
test.drop(['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA','IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO'],axis=1,inplace=True)

In [35]:
#0 são nulos) de: ['TP_COR_RACA','TP_NACIONALIDADE']
rep_dic_0 = {1:'A',2:'B',3:'C',4:'D',5:'E',0:np.nan}
train[['TP_COR_RACA','TP_NACIONALIDADE']] = train[['TP_COR_RACA','TP_NACIONALIDADE']].replace(rep_dic_0)
test[['TP_COR_RACA','TP_NACIONALIDADE']] = test[['TP_COR_RACA','TP_NACIONALIDADE']].replace(rep_dic_0)

#Dropar os 1(que são nulos) de: ['TP_ESCOLA']
rep_dic_1 = {1:np.nan,2:'B',3:'C',4:'D'}
train['TP_ESCOLA'] = train['TP_ESCOLA'].replace(rep_dic_1)
test['TP_ESCOLA'] = test['TP_ESCOLA'].replace(rep_dic_1)

rep_dic_2 = {1:'A',2:'B',3:'C',4:'D'}
train['TP_ST_CONCLUSAO'] = train['TP_ST_CONCLUSAO'].replace(rep_dic_2)
test['TP_ST_CONCLUSAO'] = test['TP_ST_CONCLUSAO'].replace(rep_dic_2)

In [36]:
cats = ['TP_COR_RACA','TP_NACIONALIDADE','TP_ESCOLA','TP_ST_CONCLUSAO'] + ['Q001','Q002','Q006','Q024','Q026','Q027','Q047','TP_SEXO','Q025']

In [37]:
numerical_cols = set(train.columns) - set(cats)

In [38]:
train[numerical_cols].isnull().sum()

NU_NOTA_LC          0
TP_LINGUA           0
TP_PRESENCA_MT      0
CO_UF_RESIDENCIA    0
NU_NOTA_CH          0
ATEND_ESPE2         0
ATEND_ESPE1         0
TP_ANO_CONCLUIU     0
NU_NOTA_CN          0
NU_IDADE            0
IN_TREINEIRO        0
dtype: int64

In [39]:
print(train[cats].isnull().sum() / train.shape[0])
train = train.drop('TP_ESCOLA',axis=1)
test = test.drop('TP_ESCOLA',axis=1)
cats.remove('TP_ESCOLA')

TP_COR_RACA         0.017553
TP_NACIONALIDADE    0.000947
TP_ESCOLA           0.688055
TP_ST_CONCLUSAO     0.000000
Q001                0.000000
Q002                0.000000
Q006                0.000000
Q024                0.000000
Q026                0.000000
Q027                0.000000
Q047                0.000000
TP_SEXO             0.000000
Q025                0.000000
dtype: float64

In [58]:
train['medias'] = train[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC']].mean(axis=1)
test['medias'] = test[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC']].mean(axis=1)

In [40]:
from category_encoders.cat_boost import CatBoostEncoder

In [59]:
X = train.drop('IN_TREINEIRO',axis=1)
y = train['IN_TREINEIRO']

In [60]:
cat_boost = CatBoostEncoder(cols=cats,drop_invariant=True,return_df=True,handle_missing='value')
train_boosted = cat_boost.fit_transform(X,y)
test_boosted = cat_boost.transform(test)

In [70]:
train_boosted.to_csv('data/train_boosted.csv',index=False)
test_boosted.to_csv('data/test_boosted.csv',index=False)

In [65]:
train_boosted.dtypes

CO_UF_RESIDENCIA      int64
NU_IDADE              int64
TP_SEXO             float64
TP_COR_RACA         float64
TP_NACIONALIDADE    float64
TP_ST_CONCLUSAO     float64
TP_ANO_CONCLUIU       int64
TP_PRESENCA_MT        int64
NU_NOTA_CN          float64
NU_NOTA_CH          float64
NU_NOTA_LC          float64
TP_LINGUA             int64
Q001                float64
Q002                float64
Q006                float64
Q024                float64
Q025                float64
Q026                float64
Q027                float64
Q047                float64
ATEND_ESPE1           int64
ATEND_ESPE2           int64
medias              float64
dtype: object

In [66]:
from tpot import TPOTClassifier

In [71]:
pipeline_optimizer = TPOTClassifier(generations=20, population_size=50,scoring='f1_macro',n_jobs=3,random_state=42,verbosity=2)
pipeline_optimizer.fit(train_boosted,y)

Optimization Progress:   9%|▉         | 94/1050 [09:50<2:31:19,  9.50s/pipeline]
Optimization Progress:  14%|█▎        | 144/1050 [15:37<1:44:51,  6.94s/pipeline]
Optimization Progress:  19%|█▉        | 201/1050 [24:56<2:57:04, 12.51s/pipeline]
Optimization Progress:  23%|██▎       | 245/1050 [27:38<1:04:22,  4.80s/pipeline]
Optimization Progress:  28%|██▊       | 296/1050 [31:41<1:01:06,  4.86s/pipeline]
Optimization Progress:  33%|███▎      | 346/1050 [35:03<47:11,  4.02s/pipeline]
Optimization Progress:  38%|███▊      | 394/1050 [38:44<56:51,  5.20s/pipeline]
Optimization Progress:  43%|████▎     | 451/1050 [42:34<42:06,  4.22s/pipeline]
Optimization Progress:  47%|████▋     | 494/1050 [46:17<52:47,  5.70s/pipeline]
Optimization Progress:  52%|█████▏    | 551/1050 [49:31<35:11,  4.23s/pipeline]
Optimization Progress:  57%|█████▋    | 594/1050 [54:24<45:06,  5.94s/pipeline]
Optimization Progress:  61%|██████▏   | 644/1050 [57:21<28:28,  4.21s/pipeline]
Optimization Progress:  67%|██████▋   | 701/1050 [1:03:17<46:51,  8.06s/pipeline]
Optimization Progress:  71%|███████   | 744/1050 [1:10:57<50:56,  9.99s/pipeline]
Optimization Progress:  76%|███████▌  | 794/1050 [1:14:38<19:21,  4.54s/pipeline]
Optimization Progress:  81%|████████  | 850/1050 [1:19:43<19:49,  5.95s/pipeline]
Optimization Progress:  85%|████████▌ | 895/1050 [1:22:04<08:20,  3.23s/pipeline]
Optimization Progress:  90%|█████████ | 950/1050 [1:27:03<12:07,  7.27s/pipeline]
Optimization Progress:  95%|█████████▌| 1001/1050 [1:31:21<03:45,  4.60s/pipeline]
Optimization Progress:  99%|█████████▉| 1044/1050 [1:36:12<00:46,  7.82s/pipeline]
Generation 20 - Current best internal CV score: 0.9929964388359604
Best pipeline: XGBClassifier(DecisionTreeClassifier(input_matrix, criterion=gini, max_depth=4, min_samples_leaf=7, min_samples_split=4), learning_rate=0.1, max_depth=9, min_child_weight=20, n_estimators=100, nthread=1, subsample=0.9500000000000001)

TPOTClassifier(generations=20,
               log_file=<ipykernel.iostream.OutStream object at 0x7f2c9e68a2d0>,
               n_jobs=3, population_size=50, random_state=42,
               scoring='f1_macro', verbosity=2)

In [72]:
pipeline_optimizer.score(train_boosted, y)

0.9931635230838802

In [73]:
pipeline_optimizer.export('tpot_exported_pipeline.py')

# Arquivo de submissão

In [74]:
y_test_predict = pipeline_optimizer.predict(test_boosted)

In [75]:
answer=pd.DataFrame(data=np.transpose([test.index,y_test_predict]),columns=['NU_INSCRICAO','IN_TREINEIRO'])
answer.head()

                               NU_INSCRICAO IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897            0
1  177f281c68fa032aedbd842a745da68490926cd2            0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334            1
3  5c356d810fa57671402502cd0933e5601a2ebf1e            0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3            0

In [76]:
answer.to_csv('data/answer.csv',index=False)