In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
train = pd.read_csv('data/train.csv',index_col='NU_INSCRICAO')
train.drop('Unnamed: 0',axis=1,inplace=True)
test = pd.read_csv('data/test.csv',index_col='NU_INSCRICAO')

In [3]:
train.head()

,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,1,1,...,5.0,A,A,A,A,A,A,A,B,D
2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,3,1,...,NaN,A,A,C,A,B,A,A,C,A
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,3,1,...,NaN,A,A,A,A,C,A,A,B,A
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,0,1,...,5.0,C,A,A,A,A,D,A,A,A
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,2,1,...,NaN,A,A,A,A,A,A,A,A,A

In [4]:
test.head()

,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,NaN,...,40.0,420.0,B,A,C,A,A,C,C,A
71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,NaN,...,100.0,580.0,E,B,C,B,B,B,F,A
b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,3.0,...,80.0,320.0,E,E,D,B,B,A,NaN,A
70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,NaN,...,NaN,NaN,H,E,G,B,B,A,NaN,A
715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,1.0,...,0.0,320.0,D,H,H,C,B,A,NaN,A

In [5]:
train.shape

(13730, 165)

In [6]:
test.shape

(4576, 46)

In [7]:
extra_cols=set(train.columns) - set(test.columns)

In [12]:
train = train[test.columns].join(train['NU_NOTA_MT'])
train.head()

,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,NU_NOTA_MT
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,43,RS,24,M,1,1,1,4,1,NaN,...,520.0,D,D,C,A,A,C,H,A,399.4
2c3acac4b33ec2b195d77e7c04a2d75727fad723,23,CE,17,F,3,1,2,0,2,1.0,...,580.0,A,A,B,A,A,A,NaN,A,459.8
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,23,CE,21,F,3,1,3,0,1,NaN,...,NaN,D,D,C,A,A,A,NaN,A,NaN
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,33,RJ,25,F,0,1,1,9,1,NaN,...,NaN,H,E,E,C,B,C,F,D,NaN
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,13,AM,28,M,2,1,1,4,1,NaN,...,NaN,E,D,C,A,A,B,F,A,NaN

In [13]:
train.columns

Index(['CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'TP_DEPENDENCIA_ADM_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA',
       'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'CO_PROVA_CN',
       'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026',
       'Q027', 'Q047', 'NU_NOTA_MT'],
      dtype='object')

In [14]:
train.describe()

,CO_UF_RESIDENCIA,NU_IDADE,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,TP_DEPENDENCIA_ADM_ESC,...,NU_NOTA_LC,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,NU_NOTA_MT
count,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,4282.000000,13730.000000,4282.000000,...,10133.000000,13730.000000,10133.000000,10133.000000,10133.000000,10133.000000,10133.000000,10133.000000,10133.000000,10133.000000
mean,30.736708,21.593809,2.185652,1.048871,1.782666,2.146176,1.353532,1.178888,0.129862,2.259692,...,516.472841,0.593664,1.101747,119.811704,111.915918,106.824238,113.123951,77.372446,529.048258,482.497928
std,9.862405,7.043654,1.007285,0.258895,0.880734,3.217328,0.558472,0.565490,0.336163,0.698586,...,68.688190,0.491167,0.700100,29.846017,33.737588,34.341349,33.480033,43.067140,154.294758,99.826323
min,11.000000,13.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,17.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,2.000000,...,468.100000,0.000000,1.000000,120.000000,100.000000,80.000000,100.000000,40.000000,440.000000,408.900000
50%,31.000000,19.000000,3.000000,1.000000,2.000000,0.000000,1.000000,1.000000,0.000000,2.000000,...,520.900000,1.000000,1.000000,120.000000,120.000000,120.000000,120.000000,80.000000,540.000000,461.200000
75%,35.000000,23.000000,3.000000,1.000000,2.000000,3.000000,2.000000,1.000000,0.000000,2.000000,...,564.900000,1.000000,1.000000,140.000000,120.000000,120.000000,120.000000,100.000000,600.000000,537.600000
max,53.000000,67.000000,5.000000,4.000000,4.000000,10.000000,4.000000,3.000000,1.000000,4.000000,...,763.600000,1.000000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000,952.000000

In [15]:
train.isnull().sum()

CO_UF_RESIDENCIA             0
SG_UF_RESIDENCIA             0
NU_IDADE                     0
TP_SEXO                      0
TP_COR_RACA                  0
TP_NACIONALIDADE             0
TP_ST_CONCLUSAO              0
TP_ANO_CONCLUIU              0
TP_ESCOLA                    0
TP_ENSINO                 9448
IN_TREINEIRO                 0
TP_DEPENDENCIA_ADM_ESC    9448
IN_BAIXA_VISAO               0
IN_CEGUEIRA                  0
IN_SURDEZ                    0
IN_DISLEXIA                  0
IN_DISCALCULIA               0
IN_SABATISTA                 0
IN_GESTANTE                  0
IN_IDOSO                     0
TP_PRESENCA_CN               0
TP_PRESENCA_CH               0
TP_PRESENCA_LC               0
CO_PROVA_CN                  0
CO_PROVA_CH                  0
CO_PROVA_LC                  0
CO_PROVA_MT                  0
NU_NOTA_CN                3389
NU_NOTA_CH                3389
NU_NOTA_LC                3597
TP_LINGUA                    0
TP_STATUS_REDACAO         3597
NU_NOTA_COMP1             3597
NU_NOTA_COMP2             3597
NU_NOTA_COMP3             3597
NU_NOTA_COMP4             3597
NU_NOTA_COMP5             3597
NU_NOTA_REDACAO           3597
Q001                         0
Q002                         0
Q006                         0
Q024                         0
Q025                         0
Q026                         0
Q027                      7373
Q047                         0
NU_NOTA_MT                3597
dtype: int64

In [16]:
#Quem n tem status_redacao, não tem competências nem nota
train.loc[train['TP_STATUS_REDACAO'].isnull(),'TP_STATUS_REDACAO':]

,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,NU_NOTA_MT
NU_INSCRICAO,,,,,,,,,,,,,,,,
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,D,C,A,A,A,NaN,A,NaN
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,E,E,C,B,C,F,D,NaN
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,D,C,A,A,B,F,A,NaN
94f7e277f87cd58e10a45da4ad5dd168651cf3ef,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,E,G,B,B,B,H,A,NaN
8570b9be0b2b629d00743d0de77cd95a84a46fbc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,D,C,B,B,C,F,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
bc6ea97fcc031786198e58ca5485d2648a2145fb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,B,B,B,B,A,NaN,A,NaN
e60cbd0026dae31e4f0580a909465c83355ea282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,C,D,B,B,B,I,A,NaN
99cfec493fefde4fcec60fd8c1e3eb1fe891fb31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,E,D,B,B,C,B,A,NaN
00bb288d1b225bf07136b1d6e5a20a0fa7f7e2a9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,C,G,B,B,C,NaN,A,NaN
a78cd7c85a7ed2a29190ed3e40a8cf8dad2d7335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,B,D,B,B,B,D,A,NaN

In [17]:
#Dropar por informação redundante: ['SG_UF_RESIDENCIA','TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC']
#Dropar por ter muitos nulos e a maioria dos não nulos são uma informação específica, o que acaba não acrescentando em nada:['TP_ENSINO','TP_DEPENDENCIA_ADM_ESC']
#Dropar por excesso de nulos: '[TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5','NU_NOTA_REDACAO']
#Dropar por informação inútil:['CO_PROVA_CN','CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT']
train.drop(['SG_UF_RESIDENCIA','TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC','TP_ENSINO',
            'TP_DEPENDENCIA_ADM_ESC','TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
            'NU_NOTA_COMP4', 'NU_NOTA_COMP5','NU_NOTA_REDACAO','CO_PROVA_CN','CO_PROVA_CH', 'CO_PROVA_LC',
            'CO_PROVA_MT'],axis=1,inplace=True)
test.drop(['SG_UF_RESIDENCIA','TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC','TP_ENSINO',
            'TP_DEPENDENCIA_ADM_ESC','TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
            'NU_NOTA_COMP4', 'NU_NOTA_COMP5','NU_NOTA_REDACAO','CO_PROVA_CN','CO_PROVA_CH', 'CO_PROVA_LC',
            'CO_PROVA_MT'],axis=1,inplace=True)

In [18]:
train.columns

Index(['CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA',
       'IN_TREINEIRO', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047',
       'NU_NOTA_MT'],
      dtype='object')

In [18]:
#Substituir os nulos de NU_NOTA_CN,NU_NOTA_LC,NU_NOTA_CH e NU_NOTA_MT por 0 pq esses foram os eliminados e faltantes.
train[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_MT','NU_NOTA_LC']]=train[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_MT','NU_NOTA_LC']].fillna(value=0)
test[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']]=test[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']].fillna(value=0)

In [19]:
#Substituir os nulos de 'Q027'  por N pq esse são os que nunca exerceram atividade.
train['Q027']=train['Q027'].fillna(value='N')
test['Q027']=test['Q027'].fillna(value='N')

In [804]:
# #Transformar em ordinais: Q001,Q002
# #Os dois vão de A a H.
# #Com A..G = [1,...,7] e H = 0
# rep_dic = {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':0,}
# train[['Q001','Q002']] = train[['Q001','Q002']].replace(rep_dic)
# test[['Q001','Q002']] = test[['Q001','Q002']].replace(rep_dic)

In [20]:
#Transforma em só uma coluna com soma de ( 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA') 
#e ('IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO')
train['ATEND_ESPE1'] = train[['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA']].sum(axis=1)
test['ATEND_ESPE1'] = test[['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA']].sum(axis=1)

train['ATEND_ESPE2'] = train[['IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO']].sum(axis=1)
test['ATEND_ESPE2'] = test[['IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO']].sum(axis=1)


train.drop(['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA','IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO'],axis=1,inplace=True)
test.drop(['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA','IN_DISCALCULIA','IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO'],axis=1,inplace=True)

In [21]:
#0 são nulos) de: ['TP_COR_RACA','TP_NACIONALIDADE']
rep_dic_0 = {1:'A',2:'B',3:'C',4:'D',5:'E',0:np.nan}
train[['TP_COR_RACA','TP_NACIONALIDADE']] = train[['TP_COR_RACA','TP_NACIONALIDADE']].replace(rep_dic_0)
test[['TP_COR_RACA','TP_NACIONALIDADE']] = test[['TP_COR_RACA','TP_NACIONALIDADE']].replace(rep_dic_0)

#Dropar os 1(que são nulos) de: ['TP_ESCOLA']
rep_dic_1 = {1:np.nan,2:'B',3:'C',4:'D'}
train['TP_ESCOLA'] = train['TP_ESCOLA'].replace(rep_dic_1)
test['TP_ESCOLA'] = test['TP_ESCOLA'].replace(rep_dic_1)

rep_dic_2 = {1:'A',2:'B',3:'C',4:'D'}
train['TP_ST_CONCLUSAO'] = train['TP_ST_CONCLUSAO'].replace(rep_dic_2)
test['TP_ST_CONCLUSAO'] = test['TP_ST_CONCLUSAO'].replace(rep_dic_2)

In [22]:
cats = ['TP_COR_RACA','TP_NACIONALIDADE','TP_ESCOLA','TP_ST_CONCLUSAO'] + ['Q001','Q002','Q006','Q024','Q026','Q027','Q047','TP_SEXO','Q025']

In [23]:
numerical_cols = set(train.columns) - set(cats)

In [24]:
train[numerical_cols].isnull().sum()

IN_TREINEIRO        0
NU_NOTA_CH          0
NU_NOTA_CN          0
ATEND_ESPE1         0
TP_ANO_CONCLUIU     0
ATEND_ESPE2         0
NU_IDADE            0
NU_NOTA_MT          0
NU_NOTA_LC          0
CO_UF_RESIDENCIA    0
TP_LINGUA           0
dtype: int64

In [25]:
print(train[cats].isnull().sum() / train.shape[0])
train = train.drop('TP_ESCOLA',axis=1)
test = test.drop('TP_ESCOLA',axis=1)
cats.remove('TP_ESCOLA')

TP_COR_RACA         0.017553
TP_NACIONALIDADE    0.000947
TP_ESCOLA           0.688055
TP_ST_CONCLUSAO     0.000000
Q001                0.000000
Q002                0.000000
Q006                0.000000
Q024                0.000000
Q026                0.000000
Q027                0.000000
Q047                0.000000
TP_SEXO             0.000000
Q025                0.000000
dtype: float64

In [26]:
from category_encoders.cat_boost import CatBoostEncoder

In [27]:
X = train.drop('NU_NOTA_MT',axis=1)
y = train['NU_NOTA_MT']

In [29]:
cat_boost = CatBoostEncoder(cols=cats,drop_invariant=True,return_df=True,handle_missing='value')
train_boosted = cat_boost.fit_transform(X,y)
test_boosted = cat_boost.transform(test)

In [30]:
# train_boosted.to_csv('data/train_preprocessed_boosted.csv')
# test_boosted.to_csv('data/test_preprocessed_boosted.csv')

In [31]:
train_boosted.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,IN_TREINEIRO,NU_NOTA_CN,NU_NOTA_CH,...,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,ATEND_ESPE1,ATEND_ESPE2
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,43,24,356.092607,356.092607,356.092607,356.092607,4,0,436.3,495.4,...,356.092607,356.092607,356.092607,356.092607,356.092607,356.092607,356.092607,356.092607,0,0
2c3acac4b33ec2b195d77e7c04a2d75727fad723,23,17,356.092607,356.092607,377.746304,356.092607,0,0,474.5,544.1,...,356.092607,356.092607,356.092607,377.746304,377.746304,356.092607,356.092607,377.746304,0,0
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,23,21,407.946304,407.946304,405.097536,356.092607,0,0,0.0,0.0,...,377.746304,377.746304,377.746304,405.097536,405.097536,407.946304,407.946304,405.097536,0,0
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,33,25,271.964202,356.092607,303.823152,377.746304,9,0,0.0,0.0,...,356.092607,356.092607,356.092607,356.092607,356.092607,377.746304,356.092607,356.092607,0,0
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,13,28,377.746304,356.092607,243.058521,251.830869,4,0,0.0,0.0,...,356.092607,251.830869,251.830869,303.823152,303.823152,356.092607,178.046304,303.823152,0,0

In [32]:
from tpot import TPOTRegressor

In [33]:
pipeline_optimizer = TPOTRegressor(generations=20, population_size=50,scoring='r2',n_jobs=3,random_state=42,verbosity=2)
pipeline_optimizer.fit(train_boosted,y)

Optimization Progress:  10%|▉         | 100/1050 [09:43<1:23:04,  5.25s/pipeline]
Optimization Progress:  14%|█▎        | 144/1050 [15:44<1:53:08,  7.49s/pipeline]
Optimization Progress:  19%|█▉        | 199/1050 [23:18<2:11:39,  9.28s/pipeline]
Optimization Progress:  23%|██▎       | 243/1050 [30:40<2:26:50, 10.92s/pipeline]
Optimization Progress:  28%|██▊       | 294/1050 [39:05<2:27:00, 11.67s/pipeline]
Optimization Progress:  33%|███▎      | 351/1050 [53:41<2:36:25, 13.43s/pipeline]
Optimization Progress:  38%|███▊      | 394/1050 [1:06:28<4:08:15, 22.71s/pipeline]
Optimization Progress:  43%|████▎     | 450/1050 [1:16:50<2:16:59, 13.70s/pipeline]
Optimization Progress:  48%|████▊     | 504/1050 [1:39:06<3:58:51, 26.25s/pipeline]
Optimization Progress:  53%|█████▎    | 555/1050 [1:57:03<3:24:10, 24.75s/pipeline]
Optimization Progress:  58%|█████▊    | 606/1050 [2:10:47<2:38:06, 21.37s/pipeline]
Optimization Progress:  63%|██████▎   | 657/1050 [2:24:03<1:35:48, 14.63s/pipeline]
Optimization Progress:  67%|██████▋   | 707/1050 [2:37:18<1:35:13, 16.66s/pipeline]
Optimization Progress:  72%|███████▏  | 756/1050 [2:59:31<2:40:21, 32.72s/pipeline]
Optimization Progress:  76%|███████▋  | 801/1050 [3:15:07<2:10:44, 31.50s/pipeline]
Optimization Progress:  82%|████████▏ | 858/1050 [3:42:00<1:43:25, 32.32s/pipeline]
Optimization Progress:  86%|████████▋ | 908/1050 [4:03:39<1:07:19, 28.45s/pipeline]
Optimization Progress:  91%|█████████ | 954/1050 [4:30:21<55:04, 34.42s/pipeline]
Optimization Progress:  96%|█████████▋| 1012/1050 [4:54:28<18:21, 28.98s/pipeline]
Optimization Progress: 1060pipeline [5:24:25, 39.01s/pipeline]
Generation 20 - Current best internal CV score: 0.926344109278679
Best pipeline: RandomForestRegressor(OneHotEncoder(CombineDFs(GradientBoostingRegressor(input_matrix, alpha=0.9, learning_rate=0.01, loss=huber, max_depth=4, max_features=0.15000000000000002, min_samples_leaf=7, min_samples_split=13, n_estimators=100, subsample=0.25), MinMaxScaler(PolynomialFeatures(ElasticNetCV(input_matrix, l1_ratio=0.75, tol=0.001), degree=2, include_bias=False, interaction_only=False))), minimum_fraction=0.2, sparse=False, threshold=10), bootstrap=True, max_features=0.4, min_samples_leaf=16, min_samples_split=14, n_estimators=100)

TPOTRegressor(generations=20,
              log_file=<ipykernel.iostream.OutStream object at 0x7f1abbae30d0>,
              n_jobs=3, population_size=50, random_state=42, scoring='r2',
              verbosity=2)

In [34]:
pipeline_optimizer.score(train_boosted, y)

0.9540737989363166

In [35]:
pipeline_optimizer.export('tpot_exported_pipeline.py')

# Arquivo de submissão

In [41]:
y_test_predict = pipeline_optimizer.predict(test_boosted)

In [42]:
answer=pd.DataFrame(data=np.transpose([test.index,y_test_predict]),columns=['NU_INSCRICAO','NU_NOTA_MT'])
answer.head()

                               NU_INSCRICAO NU_NOTA_MT
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98    432.655
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968    449.625
2  b38a03232f43b11c9d0788abaf060f7366053b6d    596.478
3  70b682d9a3636be23f6120fa9d6b164eb3c6002d          0
4  715494628a50142ce8cb17191cfe6d0f3cae0934     551.27

In [43]:
answer.to_csv('data/answer.csv',index=False)